<!DOCTYPE html>
<html>
<head>
  <title>Friendlycontent rails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "friendlycontent/rails/application", media: "all" %>
  <%= javascript_include_tag "friendlycontent/rails/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
